@font-face {
  font-family: PrestigeEliteStd;
  src: url("PrestigeEliteStd.otf") format("opentype");
}

@font-face {
  font-family: PrestigeEliteStd;
  font-weight: bold;
  src: url("PrestigeEliteStd-Bd.otf") format("opentype");
}

html {
  font-family: PrestigeEliteStd, serif !important;
  color: #707070;
  overflow: hidden;
}

#container {
  position: absolute;
  width: 100%; /* Adjust width as per your requirement */
  height: 100%; /* Adjust height as per your requirement */
  background-color: white;
  overflow: hidden;
}

#startOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
}

#startOverlay>p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

#grid {
  position: absolute;
  top: 0;
  left: 0;
  /* Additional styles for the grid */
}

#spyhole {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 500px; /* Adjust the size of the transparent circle */
  height: 500px; /* Adjust the size of the transparent circle */
  /*border-radius: 50%;*/
  background-color: transparent;
  /*border: 5px solid red; !* Add a border to the transparent circle *!*/
  /*box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);*/
  box-shadow: 0 0 0 9999px rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 600px) {
  #spyhole {
    width: 300px;
    height: 300px;
  }
}

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
}

#topCanvas {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 50;
  /*border: red 1px solid;*/
  /*box-shadow: #222222 0px 0px 20px 0px;*/
}

#escText {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#downloadBtn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: transparent;
  border: none;
  z-index: 75;
}

@media only screen and (max-width: 600px) {
  #escText {
    bottom: 0;

  }

  #downloadBtn {
    bottom: 0;
  }
}


/*non mobile placement*/
#email {
  position: absolute;
  right: 100%;
  top: 0;
  margin-right: 25px;
  margin-top: 0;
}

#name {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 35px;
}

#copyright {
  position: absolute;
  bottom: 0;
  left: 100%; /* This moves the text 25px to the right of the box's right edge */
  margin-left: 40px;
  margin-bottom: 0;
  white-space: nowrap;
}

/*mobile placement*/
@media only screen and (max-width: 600px) {
  #email {
    position: relative;
    right: unset;
    bottom: unset;
    left: unset;
    top: 100%;
    margin: unset;
  }

  #name {
    position: relative;
    right: unset;
    bottom: unset;
    left: unset;
    top: 100%;
    margin: unset;
  }

  #copyright {
    position: relative;
    right: unset;
    bottom: unset;
    left: unset;
    top: 100%;
    margin: unset;
  }
}
