#container {
  position: absolute;
  width: 100%; /* Adjust width as per your requirement */
  height: 100%; /* Adjust height as per your requirement */
  background-color: black;
  overflow: hidden;
}

#startOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
}

#startOverlay>p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

#grid {
  position: absolute;
  top: 0;
  left: 0;
  /* Additional styles for the grid */
}

#spyhole {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px; /* Adjust the size of the transparent circle */
  height: 400px; /* Adjust the size of the transparent circle */
  border-radius: 50%;
  background-color: transparent;
  /*border: 5px solid white; !* Add a border to the transparent circle *!*/
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
  /*box-shadow: 0 0 0 9999px rgba(0, 0, 0, 1);*/
}

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: yellow;
}

#escText {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: white;
}

#downloadBtn {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
